body{
    margin: 0px;
    text-align: center;/*centers anything without width*/
    font-family: 'Merriweather', serif;
    color: #40514E;
}
.top{
    background-color: #E4F9F5;
    padding-top: 150px;
    position: relative;/*conatiner is set to relative ------ Parent div*/
    
}
.middle{
    background-color: white;
    padding-top: 10px;
}
.bottom{
    background-color: #66BFBF;
    padding: 10px;
    margin: 0%;
    margin-top: 20px;
}
.profile{
    padding: 10px;
}
h1{
   margin-top: 0;
   margin-bottom: 10px;
   font-family: 'Sacramento', cursive;
   font-size: 5.625em;
   color:  #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color:  #66BFBF;
    font-weight: normal;
}

h3{
    color: #11999E;
    
}
.bottom-cloud{
    position: absolute;
    left:20%;
}

.top-cloud{
    position: absolute;/*elements are positioned absolute to move relative to parent---- child div*/
    top: 50px;
    right: 20%;
}
.classy-image{
    height: 150px;
    top: 0;
    border-radius: 100%;
}
.skill-row-1{
    width: 50%;
    margin: 50px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.skill-row-2{
    width: 50%;
    margin: 100px auto 80px auto;
    text-align: left;
    line-height: 2;
}

.skill-image-1{
   width:20%;
   border-radius: 40%;
   float: left;
   margin-right: 20px;
}
.skill-image-2{
    width:20%;
    border-radius: 40%;
    float: right;
    margin-left: 10px;
 }
.end{
    margin-bottom: 0%;
    font-size: 15px;
    color: #EAF6F6;
}
.bottom-icon{
    width: 3%;
    padding: 0 10px 0 5px;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    width: 5%;
    height: 0;
    border-width: 7px;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
